body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button{
  margin-left: 10px;
  color:white;
  background-color: #00FFFF;
  border-color:white;
}

.task{
  background-color: lightgray;
  margin: 5px 0;
}


